<!DOCTYPE html>
<html class="no-js" lang="en-US">

	<head>

		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="dailymotion-domain-verification" content="dm71h1hoo97rytopq" />

		<!-- Judil -->
		<title>Fadil Ainuddin</title>

		<!-- Bootstrap -->
		<link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Animasi-->
		<link href="plugins/animate/animate.css" rel="stylesheet" />

		<!-- Font awesome -->
		<link rel="stylesheet" type="text/css" href="plugins/fontawesome/css/font-awesome.min.css" />

		<!-- Linea icons -->
		<link rel="stylesheet" type="text/css" href="plugins/linea/css/linea.css" />

		<!-- Google web fonts -->
		<link href='https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800' rel='stylesheet' type='text/css'>

		<!-- Slick Carousel -->
		<link rel="stylesheet" type="text/css" href="plugins/slick/css/slick.css"/>
		<link rel="stylesheet" type="text/css" href="plugins/slick/css/slick-theme.css"/>

		<!-- Lightbox -->
		<link rel="stylesheet" type="text/css" href="plugins/lightbox/css/lightbox.min.css" />

		<!-- Stylesheet -->
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/media.css"/>

		<!-- Color schema -->
		<link class="colors" rel="stylesheet" href="colors/orange.css" type="text/css"/>

		<!-- ProgressBar -->
		<link rel="stylesheet" href="stylesheets/progress.css"/>

		<!-- Settings (Remove it on your site) -->
		<!--<link rel="stylesheet" href="layout/plugins/settings/settings.css" type="text/css">-->

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="layout/plugins/html5shiv/html5shiv.js"></script>
			<script src="layout/plugins/respond/respond.min.js"></script>
		<![endif]-->

      <!--Google Adsense-->
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
  			(adsbygoogle = window.adsbygoogle || []).push({
    		google_ad_client: "ca-pub-5433412424497789",
    		enable_page_level_ads: true
  			});
		</script>

       <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-67559167-2"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());
  			gtag('config', 'UA-67559167-2');
		</script>


	</head>

	<body>

		<!-- Loader -->
		<div class="page-loader">
			<div class="line-scale">
				<div class="line line1"></div>
				<div class="line line2"></div>
				<div class="line line3"></div>
				<div class="line line4"></div>
				<div class="line line5"></div>
			</div>
		</div>

		<!-- Header -->
		<header>
			<nav class="navbar">
				<div class="container fixed-top">


					<!--<div class="row">-->

						<!-- Menu button open -->
						<a href="#" class="menu-btn-open">
							<span class="line1"></span>
							<span class="line2"></span>
							<span class="line3"></span>
						</a>

					<!--</div>	-->
				</div>
			</nav>
		</header>

		<!-- Lightbox menu -->
		<div class="menu-lightbox">
			<div class="container">
				<div class="row">

					<!-- Menu button close -->
					<a href="#" class="menu-btn-close">
						<span class="line1"></span>
						<span class="line2"></span>
					</a>

				</div>
			</div>

			<div class="tbl">
				<div class="tbl-cell">
				<!-- Menu -->
					<ul class="menu">
						<li><a href="#home">Home</a></li>
						<li><a href="https://drive.google.com/file/d/13eoiYp_wfGeD56T4JyWu51F7eJ1Pwbux/view?usp=sharing">Download CV</a></li>
						<li><a href="#contact">Contact</a></li>
						<li><a href="#about">About Me</a></li>
						<li><a href="https://fadilain.blogspot.com/">Blog</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Intro -->
		<div id="welcome" class="intro image-bg">

			<!-- Text slider -->
			<div class="intro-text">
				<div class="container">
					<div class="row">

						<span>I’m </span>
						<span class="words-wrapper">
							<b class="is-visible">Fadil Ainuddin</b>
							<b>A college student</b>
							<b>A Agent Of Perebahan</b>
						</span>

					</div>

				</div>
			</div>

			<!-- Scroll button -->
			<div class="scroll-downs scroll-btn">
				<a class="scroller" href="#home">
					<i class="fa fa-angle-double-down" aria-hidden="true"></i>
				</a>
			</div>

		</div>

		<!-- Home -->
		<section id="home" class="home sec-pad">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">

						<!-- Judul -->
						<section class="">
							<img src="images/image/IMG_20220119_090343.jpg" alt="Fadil Ainuddin" width="200" class="rounded-circle img-thumbnail">
							<h2 class="display-4">Fadil Ainuddin</h2>
							<p class="lead">Mahasiswa</p>
							<div class="col">
								<hr/>
								<h2>Overview</h2>
							</div>
							<p color="red">Perkenalkan nama saya Fadil Ainuddin, saya mahasiswa Politeknik Negeri Lampung dari Jurusan Ekonomi dan Bisnis Program studi Manajemen Informatika angkatan 2020.</p>
					  	</section>
					</div>
				</div>
			</div>
			<!---Skil dan Pengalaman-->>
			<div style="max-width: 600px; margin: 3em auto">
				<table border="1" width="100%">
					<thead align="center">
						<tr>
							<th>Skill</th>
							<th>Pengalaman</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<ul>
									<li>HTML & CSS</li>
									<li>UI & UX</li>
									<li>Graphic Design</li>

								</ul>
							</td>
							<td>
								<ul>
									<li>Bekerja Karyawan Toko</li>
									<li>Sertifikasi Digital Talent</li>
									<li>Produksi Jamur Sawit</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<hr/>
		<!--About-->
		<section id="about">
			<div class="container">
				<div class="row text-center mb-3">
					<div class="col">
						<h2>About Me</h2>
					</div>
				</div>
				<div class="row justify-content-center fs-5">
					<div class="col-md-12">
						<p> Sebagaimana kita ketahui bahwa pemrograman dan teknologi selalu berkembang dan selalu diperbarui. Berkecimpung dalam dunia Pemrograman atau teknologi bagaikan berlari di atas treadmill,
							diam artinya berhenti dan tertinggal, untuk dapat bersaing kita harus mengembangkan diri sesuai industri. Khususnya dalam perkembangan teknologi web, 
							banyak sekali teknologi-teknologi yang digunakan dalamweb development. Sebagai Mahasiswa IT kita harus menguasai setidaknya dasar fundamental pemrograman 
							web untuk dapat lanjut mempelajari teknologi-teknologi web lainnya. Dalam hal ini, kita harus menguasai HTML, CSS, dan Javascript.
							
						</p>
						<p>
							Saya merupakan mahasiswa yang sangat antusias dengan Teknologi, khususnya pemrograman. Suka mempelajari pemrograman mulai dari Web Programming, 
							Desktop Programming, Mobile Programming sampai IOT Programming. Saya juga mampu dalam hal IT Networking Support, Desain, dan sedikit kemampuan mengelola Database. Selain itu, saya juga ulet dan tekun dalam mengerjakan suatu projek, pantang menyerah, selalu ingin tahu, dan mudah mempelajari hal baru.
						</p>

						<p class="text-center"> Dan ini adalah hasil dari project selama menjalani dibangku kuliah selama 4 semester</p>
						

					</div>
					<div class="clearfix"></div>

			<!-- Filters -->
			<div class="works-filters clearfix">
				<ul>
					<li class="filter active" data-filter="all">All</li>
					<li class="filter" data-filter=".web">Apps Web</li>
					<li class="filter" data-filter=".graphic">Graphic Design</li>
					<li class="filter" data-filter=".network">Network</li>
				</ul>
			</div>
			<ul class="works clearfix">

				<!-- Item 1 -->
				<li class="portfolio-item mix all film" data-my-order="1">
					<a href="https://youtu.be/b-6IA-1HcSE" target="_blank" data-title="Ocean" class="link-wrapper">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<img src="images/image/WEB.png" alt=" " />
								<div class="text">
									<h4>Apps Web</h4>
									<p>Sistem Laundry</p>
								</div>
							</div>
						</div>
					</a>
				</li>

				<!-- Item 2 -->
				<li class="portfolio-item mix all film" data-my-order="2">
					<a href="https://youtu.be/KW6pum3-OYk" target="_blank" data-title="24Before" class="link-wrapper">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<img src="images/image/cisco-packet-tracer.jpg" alt=" " />
								<div class="text">
									<h4>Network</h4>
									<p>Jaringan</p>
								</div>
							</div>
						</div>
					</a>
				</li>
				<li class="portfolio-item mix all graphic" data-my-order="3">
					<a href="images/image/IMG_20220426_012711_536.jpg" data-lightbox="image-1" data-title="Agent Of Perebahan" class="link-wrapper">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<img src="images/image/IMG_20220426_012711_536.jpg" alt="Agent Of Perebahan" />
								<div class="text">
									<h4>Graphic Design</h4>
									<p>Logo Design</p>
								</div>
							</div>
						</div>
					</a>
				</li>
				<li class="portfolio-item mix all graphic" data-my-order="4">
					<a href="images/image/login.png" data-lightbox="image-1" data-title="Agent Of Perebahan" class="link-wrapper">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<img src="images/image/login1.png" alt="Agent Of Perebahan" />
								<div class="text">
									<h4>Graphic Design</h4>
									<p>Ui & Ux</p>
								</div>
							</div>
						</div>
					</a>
				</li>
			  </div>
			</section>
				
		<!--About-->
		<hr/>
		<!--Contact-->
		<section id="contact">
			<div class="container">
			  <div class="row text-center">
				<div class="col">
				<h2>Contact Me</h2>
				</div>
			  </div>
			  <div class="row justify-content-center">
				<div class="col-md-6">
				  <div class="alert alert-success d-flex align-items-center d-none my-alert" role="alert">
					<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
					<div>
					  <h4>Terimakasih :)</h4>
					</div>
				  </div>
				  <form name="contact-form">
					<div class="mb-3">
					  <label for="name" class="form-label">Nama Lengkap</label>
					  <input type="text" class="form-control" id="name" aria-describedby="name" name="nama">
					</div>
					<div class="mb-3">
					  <label for="email" class="form-label">Email address</label>
					  <input type="email" class="form-control" id="email" aria-describedby="email" name="email">
					</div>
					<div class="mb-3">
					  <label for="pesan" class="form-label">Pesan</label>
					  <textarea class="form-control" id="pesan" rows="3" name="pesan"></textarea>
					</div>
					<button type="submit" class="btn btn-primary btn-kirim">Kirim</button>
	  
					<button class="btn btn-primary btn-loading d-none" type="button" disabled>
					  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
					  Loading...
					</button>
				  </form>
	  
				</div>
			  </div>
			</div>
			  <!--Cantact-->
		  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
	  
		  <script>
			const scriptURL = 'https://script.google.com/macros/s/AKfycbyCPzXpXmmjNtsIfh19e1jL0XmX0syBso2W_allkR3P98a20TdmDQtPDKC_sxzBot7t6w/exec'
	  
			const form = document.forms['contact-form'];
			const btnKirim = document.querySelector('.btn-kirim');
			const btnLoading =document.querySelector('.btn-loading');
			const myAlert =document.querySelector('.my-alert');
	  
		  
			form.addEventListener('submit', (e) =>{
			  e.preventDefault();
			  ///ketika tombol di submint
			  /// tampilkan tanda loading hilangkan tombol kirim
			  btnLoading.classList.toggle('d-none');
			  btnKirim.classList.toggle('d-none');
			  fetch(scriptURL, { method: 'POST', body: new FormData(form)})
				.then((response) => {
				  // tampilkan tombol kirim
				  btnLoading.classList.toggle('d-none');
				  btnKirim.classList.toggle('d-none');
				  /// tampilkan alert
				 myAlert.classList.toggle('d-none');
				  //reset form
				  form.reset()
				  console.log('Success!', response)
			  })
				.catch((error) => console.error('Error!', error.message))
			});
		  </script>
			
		<!-- End Service -->
		<footer>
		  	<div class="container">
			 	<div class="row">

					<!-- Social links -->
			   		<div class="social-icon">
						<a href="https://github.com/fadilai"><i class="fa fa-github"></i></a>
					</div>

					<!-- Copyright -->
					<div class="copyright">
				 		Copyright © 2022 <a href="#" target="_blank">Fadil Ainuddin</a>
					</div>

			 	</div>
		  	</div>
		</footer>

		<!-- jQuery -->
		<script type="text/javascript" src="plugins/jquery/jquery-3.2.1.min.js"></script>
		<script src="plugins/jquery/jquery-migrate-1.4.1.min.js"></script>
		<script src="plugins/jquery/email-decode.min.js"></script>
		<!--Popper.js-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>

		<!-- Bootstrap -->
		<script type="text/javascript" src="plugins/bootstrap/js/bootstrap.min.js"></script>

		<!-- Plugins -->
    	<script type="text/javascript" src="plugins/backstretch/jquery.backstretch.min.js"></script>
		<script type="text/javascript" src="plugins/progressbar/progressbar.min.js"></script>
		<script type="text/javascript" src="plugins/slick/js/slick.min.js"></script>
		<script type="text/javascript" src="plugins/mixitup/mixitup.min.js"></script>
		<script type="text/javascript" src="plugins/lightbox/js/lightbox.min.js"></script>
		<script type="text/javascript" src="plugins/wow/wow.min.js"></script>
		<script type="text/javascript" src="plugins/validation/jqBootstrapValidation.js"></script>
		<script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>

		<!-- Main -->
    	<script type="text/javascript" src="js/main.js"></script>
    	<!--<script type="text/javascript" src="layout/js/knowledge.js"></script>-->

		<!-- Settings (Remove it on your site) -->
		<!--<script type="text/javascript" src="layout/plugins/settings/jquery.cookies.min.js"></script>-->
		<!--<script type="text/javascript" src="layout/plugins/settings/settings.js"></script>-->

	</body>
</html>
